@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
button {
  background-color: #ffe71e;
  border: none;
  border-radius: 5px;
  font-size: .8em;
  padding: 1.5%;
  font-family: 'Roboto';
}
span {
  color: red;
}
header {
  background-image: url("../module_3-homework_3-files/img/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
header img {
  width: 30%;
  margin: auto;
}
header button {
  width: 12%;
  margin: auto;
  margin-bottom: 5%;
}
.body {
  background-color: #ffe71e;
}
main {
  background-color: white;
  font-family: 'Roboto';
}
main .whiterow {
  padding: 4% 5% 4% 15%;
}
main .grayrow {
  background-color: lightgray;
  padding: 4% 5% 4% 15%;
  margin-bottom: 5px;
}
nav {
  background-color: #ffe71e;
  padding: 3% 0% 2% 8%;
  font-family: 'Roboto';
}
nav ul li {
  display: inline;
  padding: 0 4% 0 0;
}
footer {
  background-color: black;
  border-color: #ffe71e;
  border-width: 10px;
}
footer img {
  width: 30%;
  display: flex;
  margin: auto;
}
