@import "variables";

header {
    background-image: url("../module_3-homework_3-files/img/banner-bg.png");
}

main {
    margin: 4%;
}

nav {
    background-color: @color-primary;
    padding: 3% 0% 2% 5%;
    ul li {
        display: inline;
    }
}

button {
    background-color: @color-primary;
    border: none;
    border-radius: 5px;
    font-size: .8em;
    padding: 1.5%;
}